#getstarted {
  position: relative;
  min-height: 12.5rem;
  background: url("../../assets/images/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
